body{
	margin: 0;
	font-family: Helvitica, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
}

header{
	background-color: #292929;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Teko', sans-serif;
}

/* header styles */

header h1{
	color: white;
	font-size: 60px;

	
}

header img{
		border-radius: 170px;
    width: 300px;
    border: 20px solid #900C3F;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 45px;
	color: #900c3f;
	margin: 40px 0 10px;
}

a{
	color: #2F4F4F;
}
a:hover{
	color: white;
	background-color: #900C3F;
}

footer{
	background-color: #292929;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #808080;
	font-style: italic;
	margin-top: 0;
}